@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Variables*/

:root {
  --azul: #1A73E8;
  --azul-claro: #669DF6;
  --azul-claro2:rgb(141, 183, 250);
  --azul-oscuro: #1555a8;
  --gris: #C8C8C8;
  --gris-claro: #ededf0;
  --gris-oscuro: #888;
  --gris-oscuro2: #444;
  --blanco: #fff;
  --negro: #000;
  --rojo: #db0404;
  --violeta: #8b1ae8;

  --fuente-normal: 1em;
  --fuente-chica: 0.8em;
  --fuente-grande: 1.2em;
  --fuente-grande2: 1.5em;
}

/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


p, label {
    font-size: var(--fuente-normal);
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--negro);
}

button {
    border: none;
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: var(--fuente-normal);
    cursor: pointer;
}

input, select {
    outline: none;
    padding: 8px;
    border-radius: 5px;
    font-size: var(--fuente-normal);
    width: 100%;
    text-align: center;
}

/*Main*/

main {
    margin: 20px auto;
    padding: 20px 10px;
    border-radius: 5px;
    height: 93vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cotizacion {
    background-color: var(--gris-claro);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conversor {
    margin: 40px auto 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    
}

.conversor div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#resultado {
    text-align: center;
}